* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Recoleta";
  src: url(../../assets/fonts/Recoleta/Recoleta-RegularDEMO.otf);
}
.menuParent {
  width: 100vw;
  height: 20vh;
  background-color: bisque;
}
#MenuInfo {
  width: 100%;
  height: 32%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#MenuInfo-Left {
  width: 60%;
  height: 100%;
  /* background-color: black; */
  border: 1px solid black;
}
#MenuInfo-Right {
  width: 25%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#MenuInfo-Right-Socials {
  width: 55%;
  height: 50%;
  /* background-color: aqua; */
  border-left: 0.3px solid black;
  display: flex;
  justify-content: space-around;
}
#MenuInfo-Right-MyAccount {
  width: 45%;
  height: 50%;
  font-size: 10pt;
  font-family: "Recoleta";
  /* background-color: aqua; */
}
.socials-group-class {
  width: 7.5%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#telegram-social {
  background-image: url(../../assets/pictures/telegram.png);
}
#whatsapp-social {
  background-image: url(../../assets/pictures/whatsapp.png);
}
#instagram-social {
  background-image: url(../../assets/pictures/insta.png);
}
#linkedin-social {
  background-image: url(../../assets/pictures/linkedin.png);
}
